@font-face {
  font-family: "IranSans";
  src: url(fonts/IRANSansWeb.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IranSans";
  list-style: none;
}

:root {
  --primaryColor: #fb77a1;
  --mainWhite: #edecef;
  --mainBlack: #17181f;
  --mainGray: #20212c;
  --secondaryGray: #272833;
  --fontGray: #bdbcbf;
  --mainGreen: #71c6c1;
  --futureGreen: #276e49;
  --todayGold: #7f6140;
  --mainpurple: #af68e6;
  --mainSpacing: 0.1rem;
  --mainTransition: all linear 0.3s;
}

.main-layout {
  display: flex;
}

/* Header */
header {
  width: 100%;
  height: 60px;
  background-color: var(--mainGray);
  box-shadow: 0 0 20px var(--mainBlack);
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
/* tools bar of HEADER */
.tools {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .tools div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  cursor: pointer;
}

header .tools div:not(:first-child) {
  width: 110px;
  justify-content: space-between;
}

header i {
  font-size: 20px;
  color: var(--mainWhite);
  display: flex;
  align-items: center;
}

header span {
  color: var(--fontGray);
  font-size: 14px;
}

/* profile bar of HEADER */
.profile {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plus {
  height: 36px;
  width: 36px;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(109, 20, 142);
  background: linear-gradient(
    15deg,
    rgba(109, 20, 142, 1) 0%,
    rgba(255, 0, 237, 1) 100%
  );
  cursor: pointer;
}

.profile .search {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profile .ring {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.picture {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.picture img {
  width: 100%;
  height: auto;
}

/* ASIDE */
aside {
  width: 300px;
  height: 100vh;
  background-color: var(--mainGray);
}

aside h4 {
  width: 100%;
  padding: 10px 30px;
  margin-top: 10px;
  color: var(--fontGray);
}
.collections {
  display: flex;
  flex-direction: column;
}

.collections label {
  padding: 10px 30px;
  color: var(--mainWhite);
  cursor: pointer;
}

.collections label i {
  padding: 13px;
  margin-right: 5px;
  border-radius: 13px;
  font-size: 12px;
}

.collections label:nth-of-type(1) i {
  background-color: var(--primaryColor);
}

.collections label:nth-of-type(2) i {
  background-color: var(--mainGreen);
}

.collections label:nth-of-type(3) i {
  background-color: var(--mainpurple);
}

input:checked + label {
  background-color: var(--secondaryGray);
}

aside input[type="radio"] {
  background-color: transparent;
  display: none;
}
/* Article */
article {
  width: 100%;
  height: 100vh;
  background-color: var(--mainBlack);
}

.container {
  max-width: 800px;
  height: 100%;
  padding: 60px 50px;
  margin: auto;
}

/*Title part  */
.title {
  display: flex;
  justify-content: space-between;
}

.title .back-btn {
  width: 36px;
  height: 36px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  color: var(--fontGray);
  background-color: var(--mainGray);
  cursor: pointer;
}

.title h3 {
  width: 85%;
  display: flex;
  align-items: center;
  color: var(--mainWhite);
}

.title .more-btn {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--fontGray);
  cursor: pointer;
}

/* Add task part */
.add-task {
  width: 100%;
  height: 50px;
  margin-top: 40px;
  padding: 7px 7px;
  display: flex;
  align-items: center;
  border: 2px solid var(--mainGray);
  border-radius: 15px;
}

.add-task .add-btn {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  background-color: var(--primaryColor);
  color: var(--mainBlack);
  cursor: pointer;
}

.add-task input {
  width: 100%;
  height: 100%;
  margin-left: 10px;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: var(--fontGray);
  font-size: 14px;
  font-weight: bold;
  border: none;
  outline: none;
}
