@font-face {
  font-family: "IranSans";
  src: url(fonts/IRANSansWeb.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IranSans";
  list-style: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  --primaryColor: #fb77a1;
  --mainWhite: #edecef;
  --mainBlack: #17181f;
  --mainGray: #20212c;
  --secondaryGray: #272833;
  --fontGray: #bdbcbf;
  --mainGreen: #71c6c1;
  --mainRed: #c91e4f;
  --futureGreen: #276e49;
  --todayGold: #7f6140;
  --mainpurple: #af68e6;
  --mainSpacing: 0.1rem;
  --mainTransition: all linear 0.3s;
}

body {
  background-color: #17181f;
}

.main-layout {
  display: flex;
}

/* Header */
header {
  width: 100%;
  height: 60px;
  background-color: var(--mainGray);
  box-shadow: 0 0 20px var(--mainBlack);
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
/* tools bar of HEADER */
.tools {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .tools div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  cursor: pointer;
}

header .ham-menu {
  border-radius: 15px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center !important;
}

header .active-background {
  background-color: var(--mainBlack);
}

header .tools div:not(:first-child) {
  width: 110px;
  justify-content: space-between;
}

header i {
  font-size: 20px;
  color: var(--mainWhite);
  display: flex;
  align-items: center;
}

header span {
  color: var(--fontGray);
  font-size: 14px;
}

/* profile bar of HEADER */
.profile {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plus {
  height: 36px;
  width: 36px;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(109, 20, 142);
  background: linear-gradient(
    15deg,
    rgba(109, 20, 142, 1) 0%,
    rgba(255, 0, 237, 1) 100%
  );
  cursor: pointer;
}

.profile .search {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profile .ring {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.picture {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.picture img {
  width: 100%;
  height: auto;
}

/* ASIDE */
aside {
  width: 300px;
  height: 100vh;
  background-color: var(--mainGray);
  transition: all ease 0.3s;
}

aside h4 {
  width: 100%;
  padding: 10px 30px;
  margin-top: 10px;
  color: var(--fontGray);
}
.collections {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.collections .aside-label {
  padding: 10px 30px;
  color: var(--mainWhite);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.collections .aside-label i {
  padding: 13px;
  margin-right: 5px;
  border-radius: 13px;
  font-size: 12px;
}

.collections .aside-label:nth-of-type(1) i {
  background-color: var(--primaryColor);
}

.collections .aside-label:nth-of-type(2) i {
  background-color: var(--mainGreen);
}

.collections .aside-label:nth-of-type(3) i {
  background-color: var(--mainpurple);
}

input:checked + .aside-label {
  background-color: var(--secondaryGray);
}

aside input[type="radio"] {
  background-color: transparent;
  display: none;
}
/* Article */
article {
  width: 100%;
  height: 100vh;
  background-color: var(--mainBlack);
  transition: all ease 0.3s;
}

.container {
  max-width: 800px;
  height: 100%;
  padding: 60px 50px;
  margin: auto;
}

/*Title part  */
.title {
  display: flex;
  justify-content: space-between;
}

.title .back-btn {
  width: 36px;
  height: 36px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  color: var(--fontGray);
  background-color: var(--mainGray);
  cursor: pointer;
}

.title h3 {
  width: 75%;
  display: flex;
  align-items: center;
  color: var(--mainWhite);
}

.title .filter-todos {
  height: 36px;
  border: none;
  padding: 0 5px;
  border-radius: 13px;
  background-color: var(--mainGray);
  color: var(--fontGray);
  cursor: pointer;
}
.filter-todos:focus {
  outline: none;
}

/* Add task part */
.add-task {
  width: 100%;
  height: 50px;
  margin-top: 40px;
  padding: 7px 15px;
  display: flex;
  align-items: center;
  border: 2px solid var(--mainGray);
  border-radius: 15px;
}

.add-task .add-btn {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 3px solid var(--primaryColor);
  background-color: var(--primaryColor);
  color: var(--mainBlack);
  cursor: pointer;
  transition: all ease-in 0.1s;
}
.add-task .add-btn:hover {
  background-color: var(--mainBlack);
  color: var(--primaryColor);
}

.add-task input {
  width: 100%;
  height: 100%;
  margin-left: 10px;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: var(--fontGray);
  font-size: 14px;
  font-weight: bold;
  border: none;
  outline: none;
}

/* Tasks part */
.tasks {
  width: 100%;
  margin-top: 40px;
}
.tasks-list h5,
.completed-tasks-list h5 {
  padding: 15px 7px;
  color: var(--fontGray);
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondaryGray);
  border-radius: 15px;
  padding: 0 15px;
  color: var(--mainWhite);
  height: 60px;
  margin-bottom: 10px;
}
.task .trash-btn i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-decoration: none !important;
}

.task input {
  appearance: none;
  border: 3px solid var(--primaryColor);
  border-radius: 8px;
  width: 22px;
  height: 22px;
}

.task span {
  width: 100%;
  height: 100%;
}
.task input:checked {
  background-color: var(--primaryColor);
  background-image: url(pic/tik.png);
  background-size: cover;
  background-position: center;
}

.task .task-label {
  width: 100%;
  height: 100%;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.task .trash-btn {
  width: 36px;
  height: 36px;
  font-size: 1.3rem;
  color: var(--mainRed);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.task .parent {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.checked {
  text-decoration: line-through;
}
.opacity {
  opacity: 0.3;
}
